# 1. تجاهل كل شيء في المستودع
*

# 2. استثناء المجلدات من التجاهل (للسماح بالبحث داخلها)
!*/

# 3. استثناء ملفات البايثون فقط
!*.py

# 4. (اختياري) إذا كنت تريد استثناء ملفات .gitignore نفسها
!.gitignore
!.gitattributes
